// "bg-red-600 flex w-full  p-0 justify-between   "

.overlay {
  transition: all ease-in;
}

.container {
  &:hover .overlay {
    visibility: visible;
  }

  @media screen and (max-width: 868px) {
    width: 23rem;
  }
  @media screen and (max-width: 824px) {
    width: 22rem;
  }
  @media screen and (max-width: 792px) {
    width: 20rem;
  }
  @media screen and (max-width: 724px) {
    width: 16rem;
  }
  @media screen and (max-width: 588px) {
    width: 30rem;
  }
}

.imagesContainer {
  background-size: contain;
  background-position: center;
}

// .image:hover{
//   -webkit-transform: scale(1.5,1.5);
//     -webkit-transition: all 0.3s ease-in-out;
// }
